/* Poppins Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
}

body {
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.App {
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius:7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: navy;
}
